*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 130%;
    }

}

@media screen and (max-width: 1199px) {
    html {
        font-size: 90%;
    }

    #back-to-top {
        font-size: 3rem !important;
        padding: .8rem 1.9rem !important;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 90%;
    }

    #back-to-top {
        font-size: 3.2rem !important;
        padding: 1rem 2.2rem !important;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 90%;
    }

    #back-to-top {
        font-size: 3.2rem !important;
        padding: 1rem 2.2rem !important;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 80%;
    }
    
    #back-to-top {
        font-size: 3.2rem !important;
        padding: 1rem 2.2rem !important;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 70%;
    }
    
    #back-to-top {
        font-size: 3.2rem !important;
        padding: 1rem 2.2rem !important;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 60%;
    }

    #back-to-top {
        font-size: 3rem !important;
        padding: 1.8rem 2.8rem !important;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 55%;
    }

    #back-to-top {
        font-size: 3rem !important;
        padding: 1.8rem 2.8rem !important;
    }
}

@media screen and (max-width: 390px) {
    html {
        font-size: 45%;
    }

    #back-to-top {
        font-size: 3rem !important;
        padding: 1.8rem 2.8rem !important;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
    background: #222831;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #EEEEEE;
}

h1 {
    margin: 7rem 0 1rem;
    font-size: 3.052rem;
    color: gold;
}

h2 {
    font-size: 2.441rem;
    margin-bottom: 4rem;
}

h3 {
    font-size: 1.953rem;
    margin-top: 3rem;
}

p {
    font-family: fantasy;
    color: #EEEEEE;
    width: 50ch;
    text-align: left;
    text-transform: lowercase;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dots {
    color: #00ADB5;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: #EEEEEE;
    font-size: 1rem;
    background-color: #393E46;
}

.astiyaxh {
    text-decoration: none;
    color: #00ADB5;
}

#back-to-top {
    background-color: #EEEEEE;
    border-radius: 50px;
    border: none;
    bottom: 3rem;
    box-shadow: 0 0 2rem 0 rgb(0, 0, 0, 0.25);
    color: #222831;
    cursor: pointer;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    opacity: 0;
    padding: .7rem 1rem;
    position: fixed;
    right: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

#back-to-top.visible {
    opacity: 1;
}