*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    font-size: 100%;
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 130%;
    }
}


@media screen and (max-width: 900px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 390px) {
    html {
        font-size: 45%;
    }
}

body {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
    background: #2a2f33;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: white;
}

h1 {
    margin: 7rem 0 1rem;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
    margin-bottom: 7rem;
}

h3 {
    font-size: 1.953rem;
    margin-top: 3rem;
}

p {
    font-family: fantasy;
    color: #ccc;
    width: 50ch;
    text-align: left;
    text-transform: lowercase;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dots {
    color:aqua
}